header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-bottom: 1px solid var(--color-secondary-light-400);
    position: fixed;
    top:0;
    width:100%;
    background-color: var(--color-secondary);
}

header img{
    height:40px;
    width:auto;
}

header a{
    color:white;
    text-decoration: none;
    margin: 0 0.33rem;
}

main{
    color:white;
    padding: 0 1.25rem;
    margin-top: 100px;
}

main h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

main h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/*
    Neuer Code
*/

/*.card{*/
/*    width:80%;*/
/*    margin: 0 auto;*/
/*    position: relative;*/
/*}*/

/*.card img{*/
/*    width:100%;*/
/*}*/

/*.card button{*/
/*    position: absolute;*/
/*    bottom:1rem;*/
/*    right: 1rem;*/
/*    display: none;*/
/*    padding: 0.25rem 1rem;*/
/*    font-size: 1.5rem;*/
/*    color: grey;*/
/*}*/

/*.card:hover button{*/
/*    display: unset;*/
/*}*/

/*.card button:hover{*/
/*    color: black;*/
/*    cursor: pointer;*/
/*}*/


.card{
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.card img{
    width: 100%;
}

.card button{
    display: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.25rem;
    padding: 0.25rem 1rem;
    color: grey
}

.card:hover button{
    display: block;
}

button:hover{
    color: black;
    cursor: pointer;
}