header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-bottom: 1px solid var(--color-secondary-light-400);
}

header img{
    height:40px;
    width:auto;
}

header a{
    color:white;
    text-decoration: none;
    margin: 0 0.33rem;
}

main{
    color:white;
    padding: 0 1.25rem;
}

main h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

main h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/*
    Neuer Code
*/

header{
    position: fixed;
    top:0;
    width:100%;
    background-color: var(--color-secondary);
}

main{
    margin-top: 100px;
}




